@{
    ViewData["Title"] = "Witaj!";
}

<h1>Witaj w Systemie Zarządzania Finansami</h1>

<p>System Zarządzania Finansami to aplikacja, która umożliwia efektywne zarządzanie przychodami, wydatkami oraz raportami finansowymi.</p>
<p>Aby korzystać z pełnej funkcjonalności, musisz się <a href="/Identity/Account/Login">zalogować</a> lub <a href="/Identity/Account/Register">zarejestrować</a>.</p>
