@model SystemZarzadzaniaFinansami.Models.Category

@{
    ViewData["Title"] = "Tworzenie kategorii";
}

<h1>Stwórz</h1>

<h4>Kategorię</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Dodaj</button>
        </form>


    </div>
</div>

<div>
    <a asp-action="Index">Powrót</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        document.querySelector('form').addEventListener('submit', function (e) {
            console.log("Formularz wysłany");
            console.log("Wartość pola Name: ", document.querySelector('input[name="Name"]').value);
        });
    </script>

}
